<h1>Add Time Log</h1>

<div class="row">
  Select Employee
    <select [(ngModel)]="timeLog.EmployeeId" >
      <!-- [selected]="option === " -->
      <option *ngFor="let employee of employees; index as i" value="{{employee.Id}}">
        {{ employee.Name }}
      </option>
    </select>
</div>

<div class="row">
  Select task
    <select [(ngModel)]="timeLog.TaskId" >
      <!-- [selected]="option === " -->
      <option *ngFor="let task of tasks; index as i" value="{{task.Id}}">
        {{ task.Name }}
      </option>
    </select>
</div>
<div class="row">
  Hours:
  <input type="number" [(ngModel)]="timeLog.Hours" max="24"/>
</div>

<div class="row">
  Date:
    <select [(ngModel)]="timeLog.Day" >
      <!-- [selected]="option === " -->
      <option *ngFor="let day of Days; index as i" >
        {{ day }}
      </option>
    </select>
</div>

<br>
<button class="mrg-right-10" (click)="Cancel()"> Cancel</button>

<button (click)="Save()"> Save</button>