<h1>Employee List</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <tr *ngFor="let item of employees" (click)="rowClick(item.Id)">
        <td>{{item.Id}}</td>
        <td>{{item.Code}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.WeeklyTotal}}</td>
        <td>{{item.WeeklyEffortAverage}}</td>
    </tr>
</table>