<h1>Time Sheet</h1>


<div class="row">
  <div class="col-md-6">
    Select Employee
    <select [(ngModel)]="employeeId" (change)="ChangeEmployee()" >
      <!--  -->
      <option *ngFor="let employee of employees; index as i" value="{{employee.Id}}" >
        {{ employee.Name }}
      </option>
    </select>
  </div>
  <div class="col-md-6">
    <fa name="plus-circle" class="pull-right pointer" (click)="addLog()"></fa>
  </div>
</div>

<table class="table">
  <tr>
    <th>Task Name</th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr *ngFor="let item of timeSheet">
    <td>{{item.TaskName}}</td>
    <td>{{item.Sunday}}</td>
    <td>{{item.Monday}}</td>
    <td>{{item.Tuesday}}</td>
    <td>{{item.Wednesday}}</td>
    <td>{{item.Thursday}}</td>
    <td>{{item.Friday}}</td>
    <td>{{item.Saturday}}</td>
  </tr>

</table>


<button class="pull-right pointer mrg-top-10" (click)="Save()">Save</button>

<button class="pull-right pointer mrg-top-10 mrg-right-10" (click)="Cancel()">Back to List</button>